@model IEnumerable<DanhMucModel>
<main>
    <div class="container-fluid px-4">
        <h3 class="mt-4">Danh Sách danh mục</h3>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a asp-action="Index"  asp-controller="QuanTri">Trang quản trị</a></li>
            <li class="breadcrumb-item active">Tables</li>
        </ol>
       
        <div class="card mb-4">
           
            <div class="card-body">
                <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                    <div class="card">
                        <h3><a asp-action="Create" asp-controller="DanhMuc" class="btn btn-primary">Thêm mới danh mục</a></h3>
                    </div>
                  
                    <div class="datatable-container">
                        <table id="myTable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th data-sortable="true" >
                                        #
                                    <th data-sortable="true">
                                         Tên Danh mục
                                        </th>
                                        <th data-sortable="true" >
                                          Slug Danh mục
                                            <th data-sortable="true" >Mô tả</th>
                                            <th data-sortable="true" >Trạng Thái</th>
                                            <th data-sortable="true">Manager</th>
                                            
                                        </tr>
                                        </thead>
                                            <tbody>
                                @foreach(var item in Model)
                                {
                                    <tr data-index="0">
                                        <td class="text-center align-middle">@item.MaDanhMuc</td>
                                        <td class="text-center align-middle">@item.TenDanhMuc</td>
                                        <td class="text-center align-middle">@item.SlugDanhMuc</td>
                                        <td class="text-center align-middle">@item.MoTa</td>

                                        @if (item.TrangThai ==1 )
                                        {
                                            <td>
                                                <button class="btn btn-primary">Hiển thị</button>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="text-center align-middile">
                                                <button class="btn btn-warning"> Không Hiển thị</button>
                                            </td>
                                        }
                                       
                                        <td>
                                            <a class="btn btn-warning" asp-action="Edit" asp-controller="DanhMuc" asp-route-Id="@item.MaDanhMuc">Edit</a>
                                            <a class="btn btn-danger" asp-action="Delete" asp-controller="DanhMuc" asp-route-Id="@item.MaDanhMuc">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                                                    </table>
                                                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</main>
<
