@model MonAnModel
<main>
    <div class="container-fluid px-4">
        <h3 class="mt-4">Danh sách món ăn</h3>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="QuanTri">Trang quản trị</a></li>
            <li class="breadcrumb-item active">Tables</li>
        </ol>

        <div class="card mb-4">

            <div class="card-body">
                <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                    <div class="card">
                        <h3><a asp-action="Create" asp-controller="MonAn" class="btn btn-primary">Thêm mới món ăn</a></h3>
                    </div>

                    <div class="datatable-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center ">#</th>
                                    <th class="text-center ">Thông tin món ăn</th>
                                    <th class="text-center ">Thông tin chi tiết</th>
                                    <th class="text-center ">Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center align-middle">@Model.MaMonAn</td>
                                    <td class="text-center align-middle">
                                        <table class="table table-bordered">
                                            <tr>
                                                <th class="text-center align-middle">Tên món ăn</th>
                                                <td class="text-center align-middle">@Model.TenMonAn</td>
                                            </tr>
                                            <tr>
                                                <th class="text-center align-middle">Hinh ảnh</th>
                                                <td class="text-center align-middle"><img src="~/image/monan/@Model.HinhAnh" style="height:100px;" /></td>
                                            </tr>
                                            <tr>
                                                <th class="text-center align-middle">Số lượng</th>
                                                <td class="text-center align-middle">@Model.SoLuong</td>
                                            </tr>
                                            <tr>
                                                <th class="text-center align-middle">Đơn giá</th>
                                                <td class="text-center align-middle">@Model.DonGia</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td class="text-center align-middle">
                                        <table class="table table-bordered">
                                            <tr>
                                                <th class="text-center align-middle">Địa chỉ quán</th>
                                                <td class="text-center align-middle">@Model.DiaChiQuan</td>
                                            </tr>
                                            <tr>
                                                <th class="text-center align-middle">Video</th>
                                               <td class="text-center align-middle">
       <iframe width="200" height="180" src="@Model.Video" title="@Model.TenMonAn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </td>
                                            </tr>
                                            <tr>
                                                <th class="text-center align-middle">Ngày tạo</th>
                                                <td class="text-center align-middle">@Model.NgayTao</td>
                                            </tr>
                                             <tr>
                                                <th class="text-center align-middle">danh mục</th>
                                                <td class="text-center align-middle">@Model.DanhMuc.TenDanhMuc</td>
                                            </tr>
                                        </table>
                                    </td>
                                       @if (Model.TrangThai == 1)
                                        {
                                            <td class="text-center align-middle">
                                                <button class="btn btn-primary">Hiển thị</button>
                                            </td class="text-center">
                                        }
                                        else
                                        {
                                            <td class="text-center align-middle">
                                                <button class="btn btn-warning"> Không Hiển thị</button>
                                            </td>
                                        }

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
  